@mixin txt-small {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-sm;
  line-height: 16px;
}

@mixin txt-medium {
  font-style: normal;
  font-weight: 500;
  font-size: $fz-lg;
  line-height: 38px;
}
