@import "./_variables.scss";
@import "./_typography.scss";
@import url(https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap);

html,
body {
  overflow-x: hidden;
}

body {
  background: $base;
  color: $text-primary;
  position: relative;
}

.main {
  overflow-x: hidden;
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.section {
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: $fz-xs;
    text-transform: uppercase;
    line-height: 28px;
    padding-bottom: $padding-xs;
    border-bottom: 1px solid rgba(#fff, 0.15);
  }

  &__subtitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 28px;
    font-family: $font-secondary;
  }

  &__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $text-secondary;
  }
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $padding-xxs;
  padding: $padding-sm $padding-md;
  border-radius: 10px;
  letter-spacing: 0.75px;
  @include txt-small;
  transition: $transition-1;
  min-height: 36px;
  min-width: 135px;

  &_theme {
    &_primary {
      background: $primary;
      border: 1px solid #9746ff;

      &:hover {
        background: #8525ff;
        border: 1px solid #9746ff;
      }

      &:active {
        background: #8525ff;
        border: 1px solid #9746ff;
      }
    }

    &_secondary {
      border: 1px solid #2a273c;
      background: #1c192a;

      &:hover {
        background: #27223c;
      }

      &:active {
        background: $primary;
      }
    }

    &_text {
      border: 1px solid transparent;
      background: transparent;

      &:hover {
        background: rgba(136, 114, 188, 0.04);
      }

      &:active {
        background: rgba(170, 103, 255, 0.08);
        border: 1px solid rgba(170, 103, 255, 0.12);
      }
    }
  }
}

.header {
  box-sizing: border-box;
  padding: 12px 24px 12px 18px;
  background: rgba(14, 10, 24, 0.3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(#fff, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
  z-index: 4;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;

  &__right {
    display: flex;
    align-items: center;
    gap: $padding-lg;
  }

  &__burger {
    cursor: pointer;
  }
}

.mobile-menu {
  z-index: 3;
  position: fixed;
  top: 60px;
  left: 0;
  padding: 60px 35px;
  background: rgba(16, 12, 26, 0.9);
  backdrop-filter: blur(7.5px);
  width: 100%;
  min-height: calc(100vh - 60px);
  transform: translateY(-300px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition-1;

  &_open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: $padding-lg;

    &-link {
      transition: $transition-1;
      @include txt-medium;
      text-transform: uppercase;

      &:hover {
        color: $primary;
      }
    }
  }
}

.main {
  padding: 20px;
  margin-top: 84px;
}

.intro {
  padding-top: $padding-llg;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-family: $font-secondary;
    font-style: normal;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
    text-transform: uppercase;

    span {
      &:nth-of-type(1) {
        font-weight: 300;
      }

      &:nth-of-type(2) {
        font-weight: 500;
      }

      &:nth-of-type(3) {
        font-style: italic;
        font-weight: 900;
      }
    }
  }

  &__descr {
    padding-top: $padding-default;
    font-style: normal;
    font-weight: 400;
    font-size: $fz-default;
    line-height: 24px;
    color: $text-secondary;
  }

  &__actions {
    width: 100%;
    margin-top: $padding-llg;
    display: flex;
    flex-direction: column;
    gap: $padding-lg;
  }

  &__button {
    width: 100%;
  }
}

.products {
  margin-top: 54px;
  position: relative;

  &__img {
    margin: 0 auto;
    margin-top: $padding-lg;
    position: relative;
    z-index: 1;
    max-width: 334px;
  }

  &__gradient {
    background: #3f2471;
    filter: blur(200px);
    border-radius: 9999px;
    width: 612px;
    height: 473px;
    position: absolute;
    top: 0;
    left: calc(50% - 306px);
  }
}

.cases {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 52px;

  &__descr {
    margin-top: $padding-lg;
  }

  &__top {
    max-width: 327px;
    margin: 0 auto;
  }

  &__grid {
    margin-top: 60px;
    display: flex;
    gap: $padding-lg;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    transition: $transition-1;
    padding: 50px 18px;
    text-align: center;
    background: #16141e;
    border: 1px solid #2a273c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 290px;

    &:hover {
      background: #100a1d;
      border: 1px solid rgba(151, 70, 255, 0.5);
      box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
    }

    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-transform: uppercase;
      margin-top: 18px;
      margin-bottom: 16px;
    }

    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: capitalize;
      color: $text-secondary;
      max-width: 138px;
    }

    &-divider {
      width: 200px;
      height: 1px;
      margin: $padding-lg auto;
      background: #2a273c;
    }

    &-descr {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      max-width: 200px;
    }
  }
}

.box {
  position: absolute;
  z-index: 2;

  &-1 {
    top: 980px;
    right: 22px;
  }

  &-2 {
    left: -62px;
    top: 1080px;
  }

  &-3 {
    top: 1118px;
    right: 28px;
  }

  &-4 {
    top: 1528px;
    left: -20px;
  }

  &-5 {
    top: 1689px;
    right: -20px;
  }

  &-6 {
    top: 1954px;
    left: 15px;
  }

  &-7 {
    top: 2224px;
    right: 6px;
  }
}

.try {
  margin-top: 126px;

  &__card {
    background: linear-gradient(180deg, #16141e 0%, #0e0a18 100%);
    border: 1px solid #2a273c;
    border-radius: 30px;
    padding: 56px $padding-lg;
    overflow: hidden;
    position: relative;
  }

  &__title {
    max-width: 287px;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: $font-secondary;
  }

  &__descr {
    margin-top: $padding-default;
    color: $text-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 218px;
  }

  &__link {
    text-decoration: underline;
    color: #ffe920;
    transition: $transition-1;

    &:hover {
      color: $primary;
    }
  }

  &__char {
    position: absolute;
    right: -252px;
    top: -22px;
    height: 261px;
    width: auto;
    max-width: unset;
  }

  &__gradient {
    bottom: -239px;
    right: -50px;
    width: 903.89px;
    height: 903.89px;
    position: absolute;
    filter: blur(100px);
    transform: matrix(-0.99, -0.16, -0.16, 0.99, 0, 0);
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__blur {
    position: absolute;
    width: 600px;
    height: 242px;
    left: 0;
    top: 30px;
    background: #323232;
    filter: blur(200px);
    border-radius: 9999px;
  }
}

.backers {
  margin-top: 46px;

  &__logos {
    align-items: center;
    margin-top: $padding-lg;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .backers__logo {
        &:nth-of-type(1) {
          width: 58px;
        }
        &:nth-of-type(2) {
          width: 152px;
        }
        &:nth-of-type(3) {
          width: 82px;
        }
      }
    }

    &-bottom {
      margin-top: 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .backers__logo {
        &:nth-of-type(1) {
          width: 67px;
        }
        &:nth-of-type(2) {
          width: 110px;
        }
        &:nth-of-type(3) {
          width: 27px;
        }
        &:nth-of-type(4) {
          width: 83px;
        }
      }
    }
  }

  &__vces {
    margin-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: $padding-default;
  }

  &__vc {
    font-family: $font-secondary;

    &-title {
      font-weight: 500;
      font-size: 11px;
      line-height: 28px;
    }

    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 28px;
      color: $text-secondary;
    }
  }
}

.contact {
  margin-top: 72px;
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
  background: linear-gradient(180deg, #16141e 0%, #0e0a18 100%);
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(#fff, 0.15);
  border-bottom: 1px solid rgba(#fff, 0.15);
  overflow: hidden;

  &__logo {
    margin: 0 auto;
  }

  &__content {
    max-width: 317px;
    margin: 0 auto;
  }

  &__descr {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin: 32px 0;
  }

  &__info {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-secondary;
    opacity: 0.5;
    max-width: 269px;
    margin: 0 auto;
    margin-top: $padding-default;
    padding-bottom: $padding-lg;
  }

  &__gradient {
    position: absolute;
    width: 108px;
    height: 84px;
    left: calc(50% - 108px / 2 - 0.5px);
    top: 355px;
    background: #6328ce;
    filter: blur(100px);
    border-radius: 9999px;
  }

  &__img {
    position: absolute;
    bottom: 0;
  }
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  transition: $transition-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px 20px 40px;

  &:focus-within {
    border: 1px solid rgba(151, 70, 255, 0.5);

    .input__button {
      background: $primary;
      border: 1px solid #9746ff;
      box-shadow: 0px 4px 15px rgba(112, 0, 255, 0.4);
    }
  }

  &__controller {
    appearance: none;
    outline: none;
    font: "Work Sans" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #fff;
    width: 158px;
    background: transparent;

    &::placeholder {
      color: #81859f;
    }
  }

  &__button {
    display: inline-flex;
    padding: 12px 22px;
    background: #1c192a;
    border: 1px solid #2a273c;
    border-radius: 999px;
    transition: $transition-1;

    &:hover {
      background: $primary;
      border: 1px solid #9746ff;
      box-shadow: 0px 4px 15px rgba(112, 0, 255, 0.4);
    }
  }
}
